.admin-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 3rem;
	background-color: light-dark(#ddd, #191919);

	nav {
		ul {
			display: flex;
			align-items: center;
			gap: 2rem;
			list-style-type: none;
		}

		a {
			text-decoration: none;
			font-size: 1.2rem;
			font-weight: 500;
			transition: color 0.3s;

			&:hover {
				color: #f1c40f;
			}
		}

		button {
			padding: 0.25rem 0.5rem;
			font-size: 1.2rem;
		}
	}
}

.main-content {
	padding: 2rem;
}
