.match-manager-page {
	.page-title {
		font-size: 1.875rem;
		font-weight: bold;
		margin-bottom: 1.5rem;
		color: var(--foreground);
	}

	.match-detail-container {
		background-color: var(--surface);
		padding: 1.5rem;
		border-radius: 0.25rem;
		box-shadow: 0 1px 3px 0 var(--shadow);
		margin-bottom: 1rem;
	}

	.match-date {
		font-size: 0.875rem;
		color: var(--text-secondary);
		margin-bottom: 0.5rem;
	}

	.match-status,
	.match-time {
		font-size: 1.125rem;
		margin-bottom: 1rem;
		color: var(--foreground);

		& > span {
			padding: 0.25em 0.5em;
			border-radius: 5px;
			font-weight: 600;
			text-transform: capitalize;
		}
	}

	.time-value {
		background-color: var(--background);
	}

	.set-additional-time {
		font-size: 1.125rem;
		margin-bottom: 1rem;
		color: var(--foreground);

		input,
		button {
			padding: 0.25em 0.5em;
			border-radius: 5px;
			font-weight: 600;
			border: 0;
			text-transform: capitalize;
			font-size: inherit;
		}

		button {
			margin-left: 0.5rem;
			font-weight: normal;
		}
	}

	.live-score {
		font-weight: bold;
	}

	.buttons {
		display: flex;
		gap: 1rem;
		margin-top: 1rem;

		button {
			padding: 0.5rem;
			cursor: pointer;
		}
	}
}
