.widget {
	display: flex;
	position: relative;
	padding: 0 1rem;
}

.counter-widget {
	background-color: #005bb5;
	border-radius: 0.3rem;

	& > * {
		display: grid;
		place-content: center;
	}
}

.team-name-container {
	display: flex;
	align-items: center;
	margin-inline: 0.5rem;
}

.team-name {
	font-weight: bold;
	font-size: 1.5rem;
}

.score-sets-container {
	display: flex;
	align-items: center;
	margin-inline: 1rem;
}

.score-sets {
	text-align: center;
	font-size: 1.25rem;
	background-color: #005bb5;

	&::before {
		display: block;
		width: 100%;

		content: "Sety";
		font-size: 0.8rem;

		color: #ffd700; // gold color
		margin-right: 0.5rem;
	}
}

.score-points-container {
	display: flex;
	position: relative;
	align-items: center;
	margin-inline: 1rem;
	padding: 0.25rem 1rem;

	font-size: 1.5rem;
	background-color: #00376f;

	img {
		height: 3rem;
		width: 3rem;
		margin-inline: 0.5rem;
	}

	&::before {
		content: "Mecz nr 1";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		translate: 0 -100%;

		padding: 0.25rem 0.5rem;
		clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
		border-top-left-radius: 5rem;
		border-top-right-radius: 5rem;

		font-size: 1rem;
		background-color: #005bb5;
	}
}

.serve-indicator {
	&::after {
		content: "";
		display: inline-block;
		width: 0.75rem;
		height: 0.75rem;
		border-radius: 50%;
		background-color: #ffd700;
		font-size: 4rem;
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	&--active::after {
		opacity: 1;
	}
}

.no-match-widget {
	justify-content: center;
}

.no-match-text {
	padding-block: 0.5rem;
	color: white;
	font-style: italic;
}

/* Added animation for winning teams */
@keyframes playfulBounce {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
}

.winning-team1,
.winning-team2 {
	animation: playfulBounce 1s infinite;
	border: 2px solid #ffd700; // gold border
	border-radius: 10rem;
}
