.add-match-form {
	display: inline-block;

	input,
	select {
		border: 0;
		border-radius: 5px;
		padding: 0.25em 0.5em;
	}

	.teams-picker {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		border-radius: 1rem;

		span {
			font-size: 2rem;
			margin-inline: 2rem;
		}

		input {
			width: 5rem;
			font-size: 2rem;
		}
	}

	select {
		font-size: 1rem;
	}
}
